<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"><span class="text-light pl-4 title-firstLetter ">J</span><span class="title">oyMeter</span></a>
      <form class="d-flex">
        <div class="form-group has-search">
            <input type="text" class="form-control nav-input" placeholder="">
            </div>
            <div class="mx-2">
                notifi icon
            </div>
            <div class="mx-2">
                menu icon
            </div>
            <div class="mx-2">
                <img src="../../../assets/profilepic.png" class="profilepic" />
            </div>
      </form>
    </div>
  </nav>