<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"
      ><span class="text-light pl-4 title-firstLetter">J</span
      ><span class="title">oyMeter</span></a
    >
    <div class="form-group has-search">
      <div class="search-bar">
        <input type="text" placeholder="Search..." />
        <div class="search"></div>
      </div>
    </div>
    <div class="d-flex">
      <div class="mx-2"><i class="fa-solid fa-bell"></i></div>
      <div class="mx-2">
        <i class="fa-solid fa-bars"></i>
      </div>
      <div class="mx-2">
        <img src="../../../assets/profilepic.png" class="profilepic" />
      </div>
    </div>
  </div>
</nav>
