<div>
  <div class="container-fluid">
    <div class="row mt-4 header-row">
      <div class="col-sm-4">
        <span class="title">Joymeter Board</span>
      </div>
      <div class="col-sm-4 search-bardiv">
        <div class="search-bar">
          <!-- <input type="text" placeholder="Search..." />
          <div class="search"></div> -->
        </div>
      </div>
      <div class="col-sm-4 feedback-btndiv">
        <button class="feedback-btn">POST FEEDBACK</button>
      </div>
    </div>
    <div class="row mt-4 content-row">
      <div class="card">
        <!-- <div class="container-fluid"> -->
        <div class="row">
          <div class="col-xl-6 col-sm-6 col-lg-6 col-mg-6">
            <div class="content-div">
              <h4 class="sub-title">Solution Focused Coaching circle</h4>
              <span class="span-content"
                >Containers are the most basic layout element in Bootstrap and
                are required when using our default grid system. Containers are
                used to contain, pad, and (sometimes) center the content within
                them. While containers can be nested, most layouts do not
                require a nested container.</span
              >
              <div class="row mt-3">
                <div class="col-sm-4">
                  <div>
                    <span class="span-subhed">created by:</span>
                    <p>Mambo jambo</p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div>
                    <span class="span-subhed">event type:</span>
                    <p>webinar</p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div>
                    <span class="span-subhed">feeedback status:</span>
                    <p class="p-subcontent">2 days remaining</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <span class="span-subhed">event happened between:</span>
                <p>20:30 Mon 15 Jul,2021 &#8594; 12:30 Mon 22,2021</p>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-sm-6 col-lg-6 col-mg-6">vxvxvx</div>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <div class="card-section">
      <div class="row">
        <div class="col-9">
            <div class="top-container">
            <span class="list-menu" >TRIED <span class="number-circle-pink" >90</span></span>
            <span class="list-menu">DISAPOINTED <span class="number-circle-pink" >60</span></span>
            <span class="list-menu">DOWN <span class="number-circle-pink" >60</span></span>
            <span class="list-menu">POSITIVE <span class="number-circle" >50</span></span>
            <span class="list-menu">CHARMED <span class="number-circle" >50</span></span>
            <span class="list-menu">BELONGED <span class="number-circle" >50</span></span>
            <span class="list-menu">ACCOMPLISHED <span class="number-circle-sky" >90</span></span>
            <span class="list-menu">VERY HAPPY <span class="number-circle-sky" >90</span></span>
            <span class="list-menu">THRILLED <span class="number-circle-sky" >90</span></span>
            <span class="list-menu">CUSTOM <span class="number-circle" >90</span></span>
          </div>
         </div>
      </div>
      <div class="row" >
        <div *ngFor="let datas of data" class="col-3" >
            <main class="l-card">
              <section class="l-card__text">
                <h5 style="font-size: 20px;color: orange;" > {{datas.head}}</h5>
                
                <h6 style="font-size: 17px;" > {{datas.content}}</h6>
              </section>
              <section class="l-card__user">
                <div class="l-card__userImage">
                  <img src="https://avatars.githubusercontent.com/u/20525486?v=4" alt="Naruto">
                </div>
                <div class="l-card__userInfo">
                  <div class="row align-items-center">
                    <div class="col-10">
                      <span style="font-size: 12px;" >{{datas.name}}</span>
                      <span>{{datas.team}}</span>
                    </div>
                    <div class="col-2">
                      <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                  </div>
                </div>
              </section>
            </main>
         
        </div>
      </div>
      
    </div>
  </div>
</div>



