.card-headr {
  display: flex;
  width: 100%;
}
.title {
  color: var(--primary-color);
  font-weight: 600;
  text-align: left;
  font-size: 22px;
}

.content-div{
 margin-top: 2%;
}
.span-subhed{
    text-transform: uppercase;
    font-weight: 400;
    font-family: monospace;
    font-size:12px;
}
.p-subcontent{
    font-size: 14px;
    font-family: cursive;
}
.span-content{
    font-size: 12px;
    letter-spacing: 1px;
}
.datepicker-control {
  border: none !important;
  border-bottom: 1px solid var(--primary-color) !important;
  width: 100%;
  // color: gray;
}
.form-select {
  font-size: 15px;
  border: none !important;
  border-bottom: 1px solid var(--primary-color) !important;
}
.sub-title {
  font-size: var(--primary-fontSize);
  font-weight: 300;
  font-size: 15px;
  text-align: left;
  font-family: var(--primary-fontFamily);
  font-weight: bold;
 text-transform: uppercase;
}
.search-bardiv {
  text-align: -webkit-center;
}
// .search-bar {
// }
.feedback-btndiv {
  justify-content: space-around;
  display: flex;
}


.feedback-btn {
  border: 1px solid var(--primary-color) !important;
  border-radius: 25px !important;
  background-color: white;
  padding: 2%;
  font-weight: 600;
}

.content-row {
  margin: 10px;
}
.number-circle{
  background-color: orange;
  padding: 5px;
  border-radius: 50%;
  font-size: 8px;
}
.number-circle-pink{
  background-color: #c55c5c;
  padding: 5px;
  border-radius: 50%;
  font-size: 8px;
}
.number-circle-sky{
  background-color: rgb(0, 217, 255);
  padding: 5px;
  border-radius: 50%;
  font-size: 8px;
}
.list-menu{
  font-size: 10px;
  margin-right: 58px;
}
.top-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 12px;
}

//card


img {
	width: 100%;
	height: auto;
}

.l-card {
	width: auto;
  margin-top: 30px;
	min-width: 160px;
	max-width: 250px;
	background: #f5f5f5;
	height: auto; 
	color: #272727;
	padding: 20px;
	box-shadow: 0px 0px 12px 1px rgba(100, 100, 100, 0.4);
  border-top-right-radius: 40px ;
  border-bottom: 2px solid var(--primary-color) !important;
  border-top: 1px solid var(--secondary-color) !important;
}
.l-card:hover{
	box-shadow: 0px 0px 12px 4px rgba(100, 100, 100, 0.4);
  cursor: pointer;
}
.heading{
  font-size: 16px !important;
  font-weight: 700 !important;
}
.text-contant{
  font-size: 12px;
}
.l-card__text p {
	font-size: 15px;
	font-family: "Vollkorn", serif;
	font-weight: 400;
	color: #3f3f55;
	text-align: left;
}

.l-card__text p::after {
	content: "\201D";
	display: inline;
	color: #999;
}

.l-card__text p::before {
	content: "\201C";
	display: inline;
	color: #999;
}

.l-card__user {
	display: flex;
	flex-direction: row;
	padding-top: 2px;
	margin-top: 1px;
	/* border-top: 1px solid #c1c1c1; */
	align-items: center;
}
.l-card__userImage {
	width: 42px;
	height: 42px;
	overflow: hidden;
	border-radius: 50%;
}

.l-card__userImage img {
	width: 100%;
	height: 100%;
	// object-filt: cover;
}

.l-card__userInfo {
	display: flex;
	flex-direction: column;
	margin-left: 16px;
}

.l-card__userInfo span:nth-child(1) {
	font-weight: bold;
	font-family: sans-serif;
	font-size: 9px;
	color: #3f3f55;
}
.l-card__userInfo span:nth-child(2) {
	color: #adada6;
	font-family: sans-serif;
	font-size: 10px;
	margin-top: 2px;
}

.header-joy{
  margin: 2px;
}

.btn-dashboad {
  border-radius: 22px;
  font-size: 12px;
  border: 3px solid var(--primary-color);
  font-weight: 600;
  height: 100%;
}
