<div>
  <!-- <div class="container">
    <div class="row"> -->
  <div class="card-headr">
    <div class="container">
      <div class="row mt-4">
        <div class="col-sm-4">
          <span class="title">Joymeter Board</span>
        </div>
        <div class="col-sm-4 search-bardiv">
          <div class="search-bar">
            <input type="text" placeholder="Search..." />
            <div class="search"></div>
          </div>
        </div>
        <div class="col-sm-4 feedback-btndiv">
          <button class="feedback-btn">POST FEEDBACK</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="card mt-5 h-100 w-100">
        <div class="col-sm-6">Level 1: .col-sm-3</div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-8 col-sm-6">Level 2: .col-8 .col-sm-6</div>
            <div class="col-4 col-sm-6">Level 2: .col-4 .col-sm-6</div>
          </div>
        </div>
      </div> -->
  <!-- </div>
  </div> -->
</div>
