<div>
  <div class="container-fluid">
    <div class="row mt-4 header-row">
      <div class="col-sm-4">
        <span class="title">Joymeter Board</span>
      </div>
      <div class="col-sm-4 search-bardiv">
        <div class="search-bar">
          <!-- <input type="text" placeholder="Search..." />
          <div class="search"></div> -->
        </div>
      </div>
      <div class="col-sm-4 feedback-btndiv">
        <button class="feedback-btn">POST FEEDBACK</button>
      </div>
    </div>
    <div class="row mt-4 content-row">
      <div class="card">
        <!-- <div class="container-fluid"> -->
        <div class="row">
          <div class="col-xl-6 col-sm-6 col-lg-6 col-mg-6">
            <div class="content-div">
              <h4 class="sub-title">Solution Focused Coaching circle</h4>
              <span class="span-content"
                >Containers are the most basic layout element in Bootstrap and
                are required when using our default grid system. Containers are
                used to contain, pad, and (sometimes) center the content within
                them. While containers can be nested, most layouts do not
                require a nested container.</span
              >
              <div class="row mt-3">
                <div class="col-sm-4">
                  <div>
                    <span class="span-subhed">created by:</span>
                    <p>Mambo jambo</p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div>
                    <span class="span-subhed">event type:</span>
                    <p>webinar</p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div>
                    <span class="span-subhed">feeedback status:</span>
                    <p class="p-subcontent">2 days remaining</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <span class="span-subhed">event happened between:</span>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-sm-6 col-lg-6 col-mg-6">vxvxvx</div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
