.feedback-text{
    font-size: 12px;
    font-weight: 700;
}
.feedback-btn{
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 4px 5px;
    font-weight: 700;
    font-size: 12px;

}