/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import './app/styles/variables.scss';


.btn-primary{
    color: var(--text-color) !important;
    background-color: var(--bg-color) !important;
    border: none;
    padding:4px 14px;

}
.btn-primary:hover{
    color: var(--text-color);
    background-color: var(--bg-color);
    border: none;
}
.btn-primary-outline{
    color: var(--primary-color) !important;
    background-color: white !important;
    border: 1px solid var(--primary-color) !important;
    padding:2px 14px;
}
::-webkit-scrollbar {
    width: 4px;
    border-radius: 100%;
    height: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 50px;
    height: 2px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color); 
  }