.heading{
    font-size: 12px;
    font-weight: 700;
    color: var(--heading-color-light);
}
.heading.active{
    color: var(--primary-color);
    font-weight: 700;
}
.card-contant{
    box-shadow:0px 0px 6px -1px rgba(0, 0, 0, 0.384);
    animation: cardAnimation 1s ease-in ;
}
@keyframes cardAnimation{
    0%{
        opacity:0%;
    }
    100%{
        opacity: 100%;
    }
}
.taking-col{
    cursor: pointer;
}
.card-contant:hover{
    box-shadow:0px 0px 6px -1px var(--secondary-color);
}
.heading-content{
    font-size: 14px;
}
.list-text{
    color: #878787;
    font-size: 14px;
}
.btn-dashboad{
    border-radius: 22px;
    font-size: 12px;
}
.delete-icon{
    color: #D11A2A;
}
.edit-icon{
    color:#008baa
}
.post-icon{
    color:#00aa9c
}
.dashboard-icon{
    color:#aaa700
}
.board-btn{
    border-radius: 20px;
    padding: 2px 12px;
    font-size: 12px;
}