<div class="d-flex justify-content-end">
  <div class="">
    <button class="btn btn-primary btn-dashboad">PERSONAL DASHBOARD</button>
  </div>
</div>
<div class="card card-contant py-2 mt-2" *ngFor="let data of joyMeterData">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h6 class="heading active">TAKING FEEDBACK</h6>
        <h6 class="heading-content">{{ data.taking }}</h6>
      </div>
      <div class="col">
        <h6 class="heading">EVENT TYPE</h6>
        <div class="list-text">{{ data.eventType }}</div>
      </div>
      <div class="col">
        <h6 class="heading">CREATOR</h6>
        <div class="list-text">{{ data.creator }}</div>
      </div>
      <div class="col">
        <h6 class="heading">FEEDBACK STATUS</h6>
        <div class="list-text" [style.color]="data.feedbackStatus.color">
          {{ data.feedbackStatus.text }}
        </div>
      </div>
      <div class="col-4">
        <h6 class="heading">EVENT HAPPENED BETWEEN</h6>
        <div class="list-text">
          {{ data.evtHapBet.start }} - {{ data.evtHapBet.end }}
        </div>
      </div>
      <div class="col"><h6 class="heading">ACTION</h6></div>
    </div>
  </div>
</div>
